# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\httpApi\laravel\apiDanialKala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
